In [66]:
#Importar librerias
import pandas as pd
from datetime import datetime

# Cargar datasets
player = pd.read_csv("data/raw/player.csv")
common = pd.read_csv("data/raw/common_player_info.csv")

# Unir tablas
player_enriched = player.merge(
    common,
    how='left',
    left_on='id',
    right_on='person_id'
)

In [67]:
#Eliminar columnas redundantes de la nueva tabla 
cols_drop = [
    'first_name','last_name','display_first_last','display_last_comma_first',
    'display_fi_last','player_slug','last_affiliation','team_code',
    'team_abbreviation','playercode','games_played_current_season_flag'
]

player_enriched.drop(columns=cols_drop, inplace=True, errors='ignore')

In [68]:
# 1.3 Crear columna edad
player_enriched['birthdate'] = pd.to_datetime(player_enriched['birthdate'], errors='coerce')
player_enriched['edad'] = (datetime.now() - player_enriched['birthdate']).dt.days // 365

# 1.4 Crear columna "aÃ±os_jugando"
player_enriched['aÃ±os_jugando'] = player_enriched['to_year'] - player_enriched['from_year']

# 1.5 Crear columna "undrafted"
player_enriched['undrafted'] = player_enriched['draft_year'].isna().astype(int)

# 1.6 Eliminar birthdate por redundancia
player_enriched = player_enriched.drop(columns=['birthdate'], errors='ignore')

# Exportar tabla limpia
player_enriched.columns = player_enriched.columns.str.lower()
player_enriched.to_csv("data/clean/player_enriched.csv", index=False)
print("âœ… player_enriched creado con columnas limpias y calculadas")

âœ… player_enriched creado con columnas limpias y calculadas

In [69]:
# --- Tabla TEAM ---
team = pd.read_csv("data/raw/team.csv")
team = team.drop(columns=['abbreviation'], errors='ignore')
team.columns = team.columns.str.lower()
team.to_csv("data/clean/team.csv", index=False)

# --- Tabla OTHER_STATS ---
other_stats = pd.read_csv("data/raw/other_stats.csv")
other_stats = other_stats.drop(columns=['league_id','team_abbreviation_home'], errors='ignore')
other_stats.columns = other_stats.columns.str.lower()
other_stats.to_csv("data/clean/other_stats.csv", index=False)

# --- Tabla GAME_SUMMARY ---
game_summary = pd.read_csv("data/raw/game_summary.csv")
game_summary = game_summary.drop(columns=['wh_status'], errors='ignore')
game_summary.columns = game_summary.columns.str.lower()
game_summary.to_csv("data/clean/game_summary.csv", index=False)

print("âœ… Tablas auxiliares limpiadas correctamente")

âœ… Tablas auxiliares limpiadas correctamente

In [70]:
#Filtramos jugadorees de NBA 
player_enriched = pd.read_csv("data/clean/player_enriched.csv")

# Mantener solo jugadores con experiencia NBA
player_enrichedF = player_enriched[player_enriched['nba_flag'] == 1]

player_enrichedF.to_csv("data/clean/player_enrichedF.csv", index=False)
print("âœ… Jugadores filtrados (solo con nba_flag = 1)")

âœ… Jugadores filtrados (solo con nba_flag = 1)

In [71]:
# --- GAME + TEAM -> Tabla para anÃ¡lisis  ---
game = pd.read_csv("data/raw/game.csv")
team = pd.read_csv("data/clean/team.csv")

game_team = game.merge(team, how='left', left_on='team_id_home', right_on='id')
game_team.columns = game_team.columns.str.lower()
game_team.to_csv("data/clean/game_team.csv", index=False)
print("âœ… game_team creado correctamente")

# --- GAME_TEAM + OTHER_STATS -> Tabla para anÃ¡lisis ---
other_stats = pd.read_csv("data/clean/other_stats.csv")

game_team_other_stats = game_team.merge(
    other_stats,
    how='left',
    on=['game_id','game_id']
)
game_team_other_stats.columns = game_team_other_stats.columns.str.lower()
game_team_other_stats.to_csv("data/clean/game_team_other_stats.csv", index=False)

print("âœ… game_team_other_stats creado correctamente")

âœ… game_team creado correctamente
âœ… game_team_other_stats creado correctamente

In [72]:
#Tratamiento de Nulos 

import pandas as pd, os

# Ruta base
path = "data/clean/"
files = [
    "game_team.csv",
    "game_summary.csv",
    "other_stats.csv",
    "player_enriched.csv",
    "team.csv",
    "game_team_other_stats.csv",
    "game.csv"
]

# ------------------------------------------------------
# FunciÃ³n general de limpieza de nulos
# ------------------------------------------------------
def limpiar_nulos(df):
    # 1. Eliminar columnas con mÃ¡s del 80% de nulos
    df = df.loc[:, df.isna().mean() < 0.8]

    # 2. Identificadores crÃ­ticos â†’ eliminar filas con nulos
    id_cols = [c for c in df.columns if 'id' in c]
    if id_cols:
        df = df.dropna(subset=id_cols)

    # 3. NumÃ©ricos â†’ rellenar con mediana o 0
    num_cols = df.select_dtypes(include='number').columns
    for col in num_cols:
        if df[col].isna().mean() > 0:
            if df[col].isna().mean() < 0.3:
                df[col] = df[col].fillna(df[col].median())
            else:
                df[col] = df[col].fillna(0)

    # 4. CategÃ³ricos â†’ â€œDesconocidoâ€
    cat_cols = df.select_dtypes(include='object').columns
    for col in cat_cols:
        df[col] = df[col].fillna('Desconocido')

    return df

# ------------------------------------------------------
# Bucle de carga y limpieza de todas las tablas
# ------------------------------------------------------
for f in files:
    file_path = os.path.join(path, f)

    # Lectura robusta: tipificar columnas problemÃ¡ticas
    if "game" in f.lower() or "stats" in f.lower():
        df = pd.read_csv(
            file_path,
            dtype={
                'team_id_home': 'Int64',
                'team_id_away': 'Int64'
            },
            low_memory=False
        )
    else:
        df = pd.read_csv(file_path, low_memory=False)

    # Aplicar limpieza
    df = limpiar_nulos(df)

    # Guardar resultado limpio
    out_path = os.path.join("data/final", f.replace('.csv', '_clean.csv'))
    df.to_csv(out_path, index=False)

    print(f"âœ… {f} limpiado â†’ {out_path}")

âœ… game_team.csv limpiado â†’ data/final\game_team_clean.csv
âœ… game_summary.csv limpiado â†’ data/final\game_summary_clean.csv
âœ… other_stats.csv limpiado â†’ data/final\other_stats_clean.csv
âœ… player_enriched.csv limpiado â†’ data/final\player_enriched_clean.csv
âœ… team.csv limpiado â†’ data/final\team_clean.csv
âœ… game_team_other_stats.csv limpiado â†’ data/final\game_team_other_stats_clean.csv
âœ… game.csv limpiado â†’ data/final\game_clean.csv

In [74]:
import pandas as pd
import os

path = "data/final/"

# Lista de archivos con los que estÃ¡s trabajando
files = [
    "game_clean.csv",
    "game_team_clean.csv",
    "game_summary_clean.csv",
    "other_stats_clean.csv",
    "player_enriched_clean.csv",
    "team_clean.csv",
    "game_team_other_stats_clean.csv"
]

# FunciÃ³n para imprimir estadÃ­sticas descriptivas columna por columna
def mostrar_estadisticas(df, tabla):
    print(f"\n{'='*70}")
    print(f"ðŸ“Š ESTADÃSTICAS DESCRIPTIVAS â€“ {tabla.upper()}")
    print(f"{'='*70}")

    # Seleccionar solo columnas numÃ©ricas
    num_cols = df.select_dtypes(include='number').columns

    if len(num_cols) == 0:
        print("âš ï¸ No hay columnas numÃ©ricas en esta tabla.")
        return

    # For loop completo: muestra describe() de todas las numÃ©ricas
    for col in num_cols:
        print(f"\nâž¡ï¸ Columna: {col}")
        print(df[col].describe())

    # While loop de ejemplo: solo primeras 5 columnas numÃ©ricas
    print(f"\n{'-'*50}\nPrimeras 5 columnas numÃ©ricas (while loop):")
    i = 0
    while i < min(5, len(num_cols)):
        col = num_cols[i]
        print(f"\nðŸ”¹ Columna (while): {col}")
        print(df[col].describe())
        i += 1

# Ejecutar el anÃ¡lisis sobre cada archivo
for f in files:
    df = pd.read_csv(os.path.join(path, f))
    mostrar_estadisticas(df, f)

======================================================================
ðŸ“Š ESTADÃSTICAS DESCRIPTIVAS â€“ GAME_CLEAN.CSV
======================================================================

âž¡ï¸ Columna: season_id
count    65698.000000
mean     22949.338747
std       5000.305500
min      12005.000000
25%      21981.000000
50%      21997.000000
75%      22011.000000
max      42022.000000
Name: season_id, dtype: float64

âž¡ï¸ Columna: team_id_home
count    6.569800e+04
mean     1.609926e+09
std      3.324313e+07
min      4.500000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: team_id_home, dtype: float64

âž¡ï¸ Columna: game_id
count    6.569800e+04
mean     2.584747e+07
std      6.303760e+06
min      1.050000e+07
25%      2.130053e+07
50%      2.630007e+07
75%      2.880069e+07
max      4.980009e+07
Name: game_id, dtype: float64

âž¡ï¸ Columna: min
count    65698.000000
mean       221.003486
std         67.903521
min          0.000000
25%        240.000000
50%        240.000000
75%        240.000000
max        365.000000
Name: min, dtype: float64

âž¡ï¸ Columna: fgm_home
count    65698.000000
mean        39.672334
std          6.770134
min          4.000000
25%         35.000000
50%         40.000000
75%         44.000000
max         84.000000
Name: fgm_home, dtype: float64

âž¡ï¸ Columna: fga_home
count    65698.000000
mean        83.994490
std          8.014962
min          0.000000
25%         80.000000
50%         84.000000
75%         87.000000
max        240.000000
Name: fga_home, dtype: float64

âž¡ï¸ Columna: fg_pct_home
count    65698.000000
mean         0.467245
std          0.051948
min          0.140000
25%          0.440000
50%          0.467000
75%          0.494000
max          0.697000
Name: fg_pct_home, dtype: float64

âž¡ï¸ Columna: fg3m_home
count    65698.000000
mean         5.587202
std          4.065975
min          0.000000
25%          3.000000
50%          5.000000
75%          7.000000
max         28.000000
Name: fg3m_home, dtype: float64

âž¡ï¸ Columna: fg3a_home
count    65698.000000
mean        17.246004
std          8.955660
min          0.000000
25%         12.000000
50%         16.000000
75%         21.000000
max         77.000000
Name: fg3a_home, dtype: float64

âž¡ï¸ Columna: fg3_pct_home
count    65698.000000
mean         0.346677
std          0.127405
min          0.000000
25%          0.300000
50%          0.348000
75%          0.400000
max          1.000000
Name: fg3_pct_home, dtype: float64

âž¡ï¸ Columna: ftm_home
count    65698.000000
mean        20.692852
std          7.137990
min          0.000000
25%         16.000000
50%         20.000000
75%         25.000000
max         61.000000
Name: ftm_home, dtype: float64

âž¡ï¸ Columna: fta_home
count    65698.000000
mean        27.135118
std          8.644168
min          0.000000
25%         21.000000
50%         27.000000
75%         32.000000
max         86.000000
Name: fta_home, dtype: float64

âž¡ï¸ Columna: ft_pct_home
count    65698.000000
mean         0.755627
std          0.096332
min          0.000000
25%          0.698000
50%          0.760000
75%          0.818000
max          4.167000
Name: ft_pct_home, dtype: float64

âž¡ï¸ Columna: oreb_home
count    65698.000000
mean        12.078785
std          3.743801
min          0.000000
25%         10.000000
50%         12.000000
75%         13.000000
max         44.000000
Name: oreb_home, dtype: float64

âž¡ï¸ Columna: dreb_home
count    65698.000000
mean        31.292520
std          4.735741
min          3.000000
25%         29.000000
50%         31.000000
75%         33.000000
max         56.000000
Name: dreb_home, dtype: float64

âž¡ï¸ Columna: reb_home
count    65698.000000
mean        43.579135
std          6.190037
min          0.000000
25%         40.000000
50%         43.000000
75%         47.000000
max         85.000000
Name: reb_home, dtype: float64

âž¡ï¸ Columna: ast_home
count    65698.000000
mean        23.955189
std          4.962149
min          0.000000
25%         21.000000
50%         24.000000
75%         26.000000
max         60.000000
Name: ast_home, dtype: float64

âž¡ï¸ Columna: stl_home
count    65698.000000
mean         7.994140
std          2.626308
min          0.000000
25%          7.000000
50%          8.000000
75%          9.000000
max         27.000000
Name: stl_home, dtype: float64

âž¡ï¸ Columna: blk_home
count    65698.000000
mean         5.224756
std          2.348068
min          0.000000
25%          4.000000
50%          5.000000
75%          6.000000
max         23.000000
Name: blk_home, dtype: float64

âž¡ï¸ Columna: tov_home
count    65698.000000
mean        14.844516
std          3.503539
min          0.000000
25%         13.000000
50%         15.000000
75%         16.000000
max         39.000000
Name: tov_home, dtype: float64

âž¡ï¸ Columna: pf_home
count    65698.000000
mean        22.366115
std          4.932460
min          0.000000
25%         19.000000
50%         22.000000
75%         25.000000
max        122.000000
Name: pf_home, dtype: float64

âž¡ï¸ Columna: pts_home
count    65698.000000
mean       104.619136
std         14.757924
min         18.000000
25%         95.000000
50%        105.000000
75%        114.000000
max        192.000000
Name: pts_home, dtype: float64

âž¡ï¸ Columna: plus_minus_home
count    65698.000000
mean         3.627569
std         13.091395
min        -68.000000
25%         -5.000000
50%          4.000000
75%         12.000000
max         73.000000
Name: plus_minus_home, dtype: float64

âž¡ï¸ Columna: video_available_home
count    65698.000000
mean         0.201330
std          0.400997
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: video_available_home, dtype: float64

âž¡ï¸ Columna: team_id_away
count    6.569800e+04
mean     1.608946e+09
std      5.178990e+07
min      4.100000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: team_id_away, dtype: float64

âž¡ï¸ Columna: fgm_away
count    65698.000000
mean        38.351776
std          6.479516
min          4.000000
25%         34.000000
50%         38.000000
75%         43.000000
max         82.000000
Name: fgm_away, dtype: float64

âž¡ï¸ Columna: fga_away
count    65698.000000
mean        83.588024
std          7.986418
min          0.000000
25%         80.000000
50%         83.000000
75%         87.000000
max        149.000000
Name: fga_away, dtype: float64

âž¡ï¸ Columna: fg_pct_away
count    65698.000000
mean         0.454931
std          0.051769
min          0.156000
25%          0.429000
50%          0.455000
75%          0.480000
max          3.556000
Name: fg_pct_away, dtype: float64

âž¡ï¸ Columna: fg3m_away
count    65698.000000
mean         5.510107
std          3.983416
min          0.000000
25%          3.000000
50%          5.000000
75%          7.000000
max         35.000000
Name: fg3m_away, dtype: float64

âž¡ï¸ Columna: fg3a_away
count    65698.000000
mean        17.271774
std          8.883247
min          0.000000
25%         13.000000
50%         16.000000
75%         21.000000
max         90.000000
Name: fg3a_away, dtype: float64

âž¡ï¸ Columna: fg3_pct_away
count    65698.000000
mean         0.335589
std          0.124246
min          0.000000
25%          0.294000
50%          0.333000
75%          0.387000
max          1.000000
Name: fg3_pct_away, dtype: float64

âž¡ï¸ Columna: ftm_away
count    65698.000000
mean        19.785686
std          6.841547
min          0.000000
25%         15.000000
50%         19.000000
75%         24.000000
max         57.000000
Name: ftm_away, dtype: float64

âž¡ï¸ Columna: fta_away
count    65698.000000
mean        25.988691
std          8.302928
min          0.000000
25%         20.000000
50%         25.000000
75%         31.000000
max         91.000000
Name: fta_away, dtype: float64

âž¡ï¸ Columna: ft_pct_away
count    65698.000000
mean         0.752910
std          0.101104
min          0.143000
25%          0.692000
50%          0.758000
75%          0.818000
max          5.250000
Name: ft_pct_away, dtype: float64

âž¡ï¸ Columna: oreb_away
count    65698.000000
mean        11.488889
std          3.625358
min          0.000000
25%         10.000000
50%         11.000000
75%         13.000000
max         40.000000
Name: oreb_away, dtype: float64

âž¡ï¸ Columna: dreb_away
count    65698.000000
mean        30.169229
std          4.713069
min          0.000000
25%         28.000000
50%         30.000000
75%         32.000000
max         60.000000
Name: dreb_away, dtype: float64

âž¡ï¸ Columna: reb_away
count    65698.000000
mean        42.091007
std          5.989609
min          0.000000
25%         39.000000
50%         42.000000
75%         45.000000
max         90.000000
Name: reb_away, dtype: float64

âž¡ï¸ Columna: ast_away
count    65698.000000
mean        22.102849
std          4.689650
min          0.000000
25%         20.000000
50%         22.000000
75%         24.000000
max         89.000000
Name: ast_away, dtype: float64

âž¡ï¸ Columna: stl_away
count    65698.000000
mean         7.895994
std          2.561018
min          0.000000
25%          7.000000
50%          8.000000
75%          9.000000
max         27.000000
Name: stl_away, dtype: float64

âž¡ï¸ Columna: blk_away
count    65698.000000
mean         4.488325
std          2.139024
min          0.000000
25%          3.000000
50%          4.000000
75%          5.000000
max         19.000000
Name: blk_away, dtype: float64

âž¡ï¸ Columna: tov_away
count    65698.000000
mean        15.143018
std          3.638422
min          0.000000
25%         13.000000
50%         15.000000
75%         17.000000
max         40.000000
Name: tov_away, dtype: float64

âž¡ï¸ Columna: pf_away
count    65698.000000
mean        23.093062
std          5.112568
min          0.000000
25%         20.000000
50%         23.000000
75%         26.000000
max        115.000000
Name: pf_away, dtype: float64

âž¡ï¸ Columna: pts_away
count    65698.000000
mean       100.991567
std         14.418755
min         19.000000
25%         92.000000
50%        101.000000
75%        110.000000
max        196.000000
Name: pts_away, dtype: float64

âž¡ï¸ Columna: plus_minus_away
count    65698.000000
mean        -3.627569
std         13.091395
min        -73.000000
25%        -12.000000
50%         -4.000000
75%          5.000000
max         68.000000
Name: plus_minus_away, dtype: float64

âž¡ï¸ Columna: video_available_away
count    65698.000000
mean         0.201330
std          0.400997
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: video_available_away, dtype: float64

--------------------------------------------------
Primeras 5 columnas numÃ©ricas (while loop):

ðŸ”¹ Columna (while): season_id
count    65698.000000
mean     22949.338747
std       5000.305500
min      12005.000000
25%      21981.000000
50%      21997.000000
75%      22011.000000
max      42022.000000
Name: season_id, dtype: float64

ðŸ”¹ Columna (while): team_id_home
count    6.569800e+04
mean     1.609926e+09
std      3.324313e+07
min      4.500000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610617e+09
Name: team_id_home, dtype: float64

ðŸ”¹ Columna (while): game_id
count    6.569800e+04
mean     2.584747e+07
std      6.303760e+06
min      1.050000e+07
25%      2.130053e+07
50%      2.630007e+07
75%      2.880069e+07
max      4.980009e+07
Name: game_id, dtype: float64

ðŸ”¹ Columna (while): min
count    65698.000000
mean       221.003486
std         67.903521
min          0.000000
25%        240.000000
50%        240.000000
75%        240.000000
max        365.000000
Name: min, dtype: float64

ðŸ”¹ Columna (while): fgm_home
count    65698.000000
mean        39.672334
std          6.770134
min          4.000000
25%         35.000000
50%         40.000000
75%         44.000000
max         84.000000
Name: fgm_home, dtype: float64

======================================================================
ðŸ“Š ESTADÃSTICAS DESCRIPTIVAS â€“ GAME_TEAM_CLEAN.CSV
======================================================================

âž¡ï¸ Columna: season_id
count    64413.000000
mean     22939.397575
std       5001.286568
min      12005.000000
25%      21982.000000
50%      21997.000000
75%      22011.000000
max      42022.000000
Name: season_id, dtype: float64

âž¡ï¸ Columna: team_id_home
count    6.441300e+04
mean     1.610613e+09
std      8.651025e+00
min      1.610613e+09
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610613e+09
Name: team_id_home, dtype: float64

âž¡ï¸ Columna: game_id
count    6.441300e+04
mean     2.583831e+07
std      6.321481e+06
min      1.050000e+07
25%      2.130024e+07
50%      2.640018e+07
75%      2.880084e+07
max      4.980009e+07
Name: game_id, dtype: float64

âž¡ï¸ Columna: min
count    64413.000000
mean       224.825889
std         61.894207
min          0.000000
25%        240.000000
50%        240.000000
75%        240.000000
max        365.000000
Name: min, dtype: float64

âž¡ï¸ Columna: fgm_home
count    64413.000000
mean        39.841600
std          6.585284
min          4.000000
25%         35.000000
50%         40.000000
75%         44.000000
max         72.000000
Name: fgm_home, dtype: float64

âž¡ï¸ Columna: fga_home
count    64413.000000
mean        83.939593
std          7.961257
min          0.000000
25%         80.000000
50%         84.000000
75%         88.000000
max        240.000000
Name: fga_home, dtype: float64

âž¡ï¸ Columna: fg_pct_home
count    64413.000000
mean         0.467368
std          0.052121
min          0.140000
25%          0.439000
50%          0.467000
75%          0.494000
max          0.697000
Name: fg_pct_home, dtype: float64

âž¡ï¸ Columna: fg3m_home
count    64413.000000
mean         5.592613
std          4.094159
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         28.000000
Name: fg3m_home, dtype: float64

âž¡ï¸ Columna: fg3a_home
count    64413.000000
mean        17.253784
std          9.001434
min          0.000000
25%         12.000000
50%         16.000000
75%         21.000000
max         70.000000
Name: fg3a_home, dtype: float64

âž¡ï¸ Columna: fg3_pct_home
count    64413.000000
mean         0.346672
std          0.128585
min          0.000000
25%          0.300000
50%          0.348000
75%          0.400000
max          1.000000
Name: fg3_pct_home, dtype: float64

âž¡ï¸ Columna: ftm_home
count    64413.000000
mean        20.688231
std          7.133051
min          0.000000
25%         16.000000
50%         20.000000
75%         25.000000
max         61.000000
Name: ftm_home, dtype: float64

âž¡ï¸ Columna: fta_home
count    64413.000000
mean        27.064164
std          8.660772
min          0.000000
25%         21.000000
50%         26.000000
75%         32.000000
max         86.000000
Name: fta_home, dtype: float64

âž¡ï¸ Columna: ft_pct_home
count    64413.000000
mean         0.756126
std          0.096220
min          0.000000
25%          0.698000
50%          0.762000
75%          0.818000
max          4.167000
Name: ft_pct_home, dtype: float64

âž¡ï¸ Columna: oreb_home
count    64413.000000
mean        12.072144
std          3.767294
min          0.000000
25%         10.000000
50%         12.000000
75%         13.000000
max         44.000000
Name: oreb_home, dtype: float64

âž¡ï¸ Columna: dreb_home
count    64413.000000
mean        31.293124
std          4.772253
min          3.000000
25%         29.000000
50%         31.000000
75%         34.000000
max         56.000000
Name: dreb_home, dtype: float64

âž¡ï¸ Columna: reb_home
count    64413.000000
mean        43.564793
std          6.207264
min          0.000000
25%         40.000000
50%         43.000000
75%         47.000000
max         85.000000
Name: reb_home, dtype: float64

âž¡ï¸ Columna: ast_home
count    64413.000000
mean        23.939702
std          4.978152
min          0.000000
25%         21.000000
50%         24.000000
75%         26.000000
max         52.000000
Name: ast_home, dtype: float64

âž¡ï¸ Columna: stl_home
count    64413.000000
mean         7.986431
std          2.640348
min          0.000000
25%          7.000000
50%          8.000000
75%          9.000000
max         27.000000
Name: stl_home, dtype: float64

âž¡ï¸ Columna: blk_home
count    64413.000000
mean         5.230093
std          2.367959
min          0.000000
25%          4.000000
50%          5.000000
75%          6.000000
max         23.000000
Name: blk_home, dtype: float64

âž¡ï¸ Columna: tov_home
count    64413.000000
mean        14.832767
std          3.525575
min          0.000000
25%         13.000000
50%         15.000000
75%         16.000000
max         39.000000
Name: tov_home, dtype: float64

âž¡ï¸ Columna: pf_home
count    64413.000000
mean        22.362955
std          4.937030
min          0.000000
25%         19.000000
50%         22.000000
75%         25.000000
max        122.000000
Name: pf_home, dtype: float64

âž¡ï¸ Columna: pts_home
count    64413.000000
mean       105.032323
std         14.303920
min         18.000000
25%         95.000000
50%        105.000000
75%        115.000000
max        184.000000
Name: pts_home, dtype: float64

âž¡ï¸ Columna: plus_minus_home
count    64413.000000
mean         3.660348
std         13.095210
min        -68.000000
25%         -5.000000
50%          4.000000
75%         12.000000
max         73.000000
Name: plus_minus_home, dtype: float64

âž¡ï¸ Columna: video_available_home
count    64413.000000
mean         0.205021
std          0.403720
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: video_available_home, dtype: float64

âž¡ï¸ Columna: team_id_away
count    6.441300e+04
mean     1.608912e+09
std      5.230341e+07
min      4.100000e+01
25%      1.610613e+09
50%      1.610613e+09
75%      1.610613e+09
max      1.610613e+09
Name: team_id_away, dtype: float64

âž¡ï¸ Columna: fgm_away
count    64413.000000
mean        38.514772
std          6.288729
min          4.000000
25%         34.000000
50%         38.000000
75%         43.000000
max         74.000000
Name: fgm_away, dtype: float64

âž¡ï¸ Columna: fga_away
count    64413.000000
mean        83.543306
std          7.936576
min          0.000000
25%         80.000000
50%         83.000000
75%         87.000000
max        136.000000
Name: fga_away, dtype: float64

âž¡ï¸ Columna: fg_pct_away
count    64413.000000
mean         0.455006
std          0.051928
min          0.213000
25%          0.429000
50%          0.455000
75%          0.481000
max          3.556000
Name: fg_pct_away, dtype: float64

âž¡ï¸ Columna: fg3m_away
count    64413.000000
mean         5.513406
std          4.004767
min          0.000000
25%          3.000000
50%          5.000000
75%          7.000000
max         29.000000
Name: fg3m_away, dtype: float64

âž¡ï¸ Columna: fg3a_away
count    64413.000000
mean        17.281217
std          8.923979
min          0.000000
25%         12.000000
50%         16.000000
75%         21.000000
max         69.000000
Name: fg3a_away, dtype: float64

âž¡ï¸ Columna: fg3_pct_away
count    64413.000000
mean         0.335665
std          0.125339
min          0.000000
25%          0.290000
50%          0.333000
75%          0.389000
max          1.000000
Name: fg3_pct_away, dtype: float64

âž¡ï¸ Columna: ftm_away
count    64413.000000
mean        19.763091
std          6.839992
min          0.000000
25%         15.000000
50%         19.000000
75%         24.000000
max         57.000000
Name: ftm_away, dtype: float64

âž¡ï¸ Columna: fta_away
count    64413.000000
mean        25.940307
std          8.310792
min          0.000000
25%         20.000000
50%         25.000000
75%         31.000000
max         91.000000
Name: fta_away, dtype: float64


REVISAR NULOS

In [ ]:
#REVISION DE NULOS RESULTANTES

import pandas as pd
import os

path = "data/final/"
files = [ 
    "game_team_clean.csv",
    "game_summary_clean.csv",
    "other_stats_clean.csv",
    "player_enriched_clean.csv",
    "team_clean.csv",
    "game_team_other_stats_clean.csv",
    "game_clean.csv"
]

for f in files:
    df = pd.read_csv(os.path.join(path, f))
    print(f"\nðŸ“Š --- {f} ---")
    print("Filas:", len(df))
    print("Porcentaje de nulos por columna:")
    print((df.isna().mean() * 100).round(2).sort_values(ascending=False).head(10000))

ðŸ“Š --- game_team_clean.csv ---
Filas: 64413
Porcentaje de nulos por columna:
season_id                 0.0
team_id_home              0.0
team_abbreviation_home    0.0
team_name_home            0.0
game_id                   0.0
                         ...
full_name                 0.0
nickname                  0.0
city                      0.0
state                     0.0
year_founded              0.0
Length: 61, dtype: float64

ðŸ“Š --- game_summary_clean.csv ---
Filas: 58110
Porcentaje de nulos por columna:
game_date_est             0.0
game_sequence             0.0
game_id                   0.0
game_status_id            0.0
game_status_text          0.0
gamecode                  0.0
home_team_id              0.0
visitor_team_id           0.0
season                    0.0
live_period               0.0
live_period_time_bcast    0.0
dtype: float64

ðŸ“Š --- other_stats_clean.csv ---
Filas: 28271
Porcentaje de nulos por columna:
game_id                   0.0
team_id_home              0.0
team_city_home            0.0
pts_paint_home            0.0
pts_2nd_chance_home       0.0
pts_fb_home               0.0
largest_lead_home         0.0
lead_changes              0.0
times_tied                0.0
team_turnovers_home       0.0
total_turnovers_home      0.0
team_rebounds_home        0.0
pts_off_to_home           0.0
team_id_away              0.0
team_abbreviation_away    0.0
team_city_away            0.0
pts_paint_away            0.0
pts_2nd_chance_away       0.0
pts_fb_away               0.0
largest_lead_away         0.0
team_turnovers_away       0.0
total_turnovers_away      0.0
team_rebounds_away        0.0
pts_off_to_away           0.0
dtype: float64

ðŸ“Š --- player_enriched_clean.csv ---
Filas: 4171
Porcentaje de nulos por columna:
id                   0.0
full_name            0.0
first_name_x         0.0
last_name_x          0.0
is_active            0.0
person_id            0.0
first_name_y         0.0
last_name_y          0.0
school               0.0
country              0.0
height               0.0
weight               0.0
season_exp           0.0
jersey               0.0
position             0.0
rosterstatus         0.0
team_id              0.0
team_name            0.0
team_city            0.0
from_year            0.0
to_year              0.0
dleague_flag         0.0
nba_flag             0.0
games_played_flag    0.0
draft_year           0.0
draft_round          0.0
draft_number         0.0
greatest_75_flag     0.0
edad                 0.0
aÃ±os_jugando         0.0
undrafted            0.0
dtype: float64

ðŸ“Š --- team_clean.csv ---
Filas: 30
Porcentaje de nulos por columna:
id              0.0
full_name       0.0
nickname        0.0
city            0.0
state           0.0
year_founded    0.0
dtype: float64

ðŸ“Š --- game_team_other_stats_clean.csv ---
Filas: 28232
Porcentaje de nulos por columna:
season_id                 0.0
team_id_home_x            0.0
team_abbreviation_home    0.0
team_name_home            0.0
game_id                   0.0
                         ...
largest_lead_away         0.0
team_turnovers_away       0.0
total_turnovers_away      0.0
team_rebounds_away        0.0
pts_off_to_away           0.0
Length: 84, dtype: float64

ðŸ“Š --- game_clean.csv ---
Filas: 65698
Porcentaje de nulos por columna:
season_id                 0.0
team_id_home              0.0
team_abbreviation_home    0.0
team_name_home            0.0
game_id                   0.0
game_date                 0.0
matchup_home              0.0
wl_home                   0.0
min                       0.0
fgm_home                  0.0
fga_home                  0.0
fg_pct_home               0.0
fg3m_home                 0.0
fg3a_home                 0.0
fg3_pct_home              0.0
ftm_home                  0.0
fta_home                  0.0
ft_pct_home               0.0
oreb_home                 0.0
dreb_home                 0.0
reb_home                  0.0
ast_home                  0.0
stl_home                  0.0
blk_home                  0.0
tov_home                  0.0
pf_home                   0.0
pts_home                  0.0
plus_minus_home           0.0
video_available_home      0.0
team_id_away              0.0
team_abbreviation_away    0.0
team_name_away            0.0
matchup_away              0.0
wl_away                   0.0
fgm_away                  0.0
fga_away                  0.0
fg_pct_away               0.0
fg3m_away                 0.0
fg3a_away                 0.0
fg3_pct_away              0.0
ftm_away                  0.0
fta_away                  0.0
ft_pct_away               0.0
oreb_away                 0.0
dreb_away                 0.0
reb_away                  0.0
ast_away                  0.0
stl_away                  0.0
blk_away                  0.0
tov_away                  0.0
pf_away                   0.0
pts_away                  0.0
plus_minus_away           0.0
video_available_away      0.0
season_type               0.0
dtype: float64

In [ ]:
print(player_enriched.columns)

Index(['id', 'full_name', 'first_name_x', 'last_name_x', 'is_active',
       'person_id', 'first_name_y', 'last_name_y', 'school', 'country',
       'height', 'weight', 'season_exp', 'jersey', 'position', 'rosterstatus',
       'team_id', 'team_name', 'team_city', 'from_year', 'to_year',
       'dleague_flag', 'nba_flag', 'games_played_flag', 'draft_year',
       'draft_round', 'draft_number', 'greatest_75_flag', 'edad',
       'aÃ±os_jugando', 'undrafted'],
      dtype='object')